.side-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 91%;
  width: 160px;
  background-color: #8fa0bb;
  z-index: 2;
  margin-bottom: 20px;
  padding: 20px;
}

.side-bar ul li a {
  display: flex;
  margin: auto;
  align-items: center;
}
.side-bar ul li a span {
  margin-left: 15px;
  color: #ffffff;
}

.side-bar ul li a svg {
  margin-bottom: 40px; /*Add spacing between SVG icons*/
  fill: #ffffff;
}
.side-bar ul li :hover {
  background-color: #000000; /* hover 시 박스 배경색 변경 */
}
